* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a3a795;
    color: #333;
}
@media (min-width: 400px) and (max-width: 800px) {
    body{
      background-color: rgb(81, 58, 207);
    }
   
  }
@media (min-width: 801px) and (max-width: 1200px) {
    body{
      background-color: lightsalmon;
    }  
    
  }
  @media (min-width:1201px) and (max-width:1400px) {
    body{
      background-color: powderblue;
     }
    
  }
  @media (min-width: 1401px) and (max-width:1600px) {
    body{
      background-color:#927676;
    }
   
  }

header {
    display: flex;
    justify-content: space-between;        /* This pushes the title and nav apart */
    align-items: center;         /* Centers items vertically */
    background-color: #333;     /* Adjust background color if needed */
    padding: 10px 20px;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 24px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;        /* Space between nav items */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.abb{
    position: sticky;
    top: 0%;
}


footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p {
    margin: 0;
}





.content {
    background-color: rgb(132, 192, 142);
    padding: 20px;
    border-radius: 15px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;      /* Smooth scaling effect */
}
.content:hover {
    transform: scale(1.03);         /* Slightly enlarge on hover */
}
.content img{
    width: 100%;
    border-radius: 30%;
    border: 10px solid #2e2f8d;      /* Darker border for the image */
}
.content h2 {
    color: #005f5f;
    font-size: 2.5em;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);   /* Soft shadow for the title */
}
.content h3 {
    color: #485f5f;
    margin-top: 15px;
    font-size: 1.5em;
}
.content p {
    line-height: 1.8;      /* Improved line spacing */
    font-size: 1.1rem;
    margin: 10px O;
}